spring:
  application:
    name: "backend"
  datasource:
    driver-class-name: "com.mysql.cj.jdbc.Driver"
    url: "jdbc:mysql://localhost:3306/test_db?useSSL=false&useLegacyDatetimeCode=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&autoReconnect=true&createDatabaseIfNotExist=true"
    username: "root"
    password: "0000"

  redis:
    host: bauction-redis
    port: 6379

  jpa:
    database: "mysql"
    show-sql: "true"
    hibernate:
      ddl-auto: "none"
    properties:
      hibernate:
        format_sql: true
    generate-ddl: true
#----- for swagger UI
#  mvc:
#    pathmatch:
#      matching-strategy: ant_path_matcher
#----- for auto create table and insert data
#  sql:
#    init:
#      schema-locations: classpath:scheme.sql
#      data-locations: classpath:data.sql
#      mode: always
  flyway:
    enabled: false
    url: jdbc:mysql://localhost:3306/test_db
    user: root
    password: 0000
    baseline-on-migrate: true
    ignore-ignored-migrations: true
    clean-on-validation-error: true
